# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL=postgresql://Adisa-Shobi:l5zcBQHVm6XT@ep-muddy-fire-a52bwvvs.us-east-2.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
API_KEY=27b255337d825ae2e17de3bdc15dc7de
# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
AUTH_SECRET=d5c59a61963dd0b15963dba142719390
